/*
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
      local("PT Sans Regular"),
      url("/fonts/ptsans.woff") format("woff"),
      url("/fonts/ptsansbold.woff") format("woff");
}
*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
}

.features-item .features-headline, .benefits-header,
.features-header b, .result-header, .result-count {
  font-size: 21px;
  font-weight: bold;
}

.search-header b {
  font-size: 24px;
}

.search-parameters p {
  font-size: 16px;
  font-weight: bold;
}

.nav-list,.benefits-list,.features-list {
  list-style:none;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: ret(0 0 0 0);
  overflow: hidden;
}
/*
.nav-item{
  float: left;
  padding: 73px 23px ;
  min-width: 150px;
}*/

/*
.features > div.features-item{
  float: left;
  background-color: rgb(129,179,210);
  min-width: 150px;
}

.features-list .features-item{
  float: left;
  background: rgb(236,236,236);
}
*/
