@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
      local("PT Sans Regular"),
      local("PTSans-Regular"),
      url("../fonts/ptsans.woff2") format("woff2"),
      url("../fonts/ptsans.woff") format("woff"),
      url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
      local("PT Sans Bold"),
      local("PTSans-Bold"),
      url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff"),
      url("http://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}

body {
  padding: 0;
  margin: 0;
  min-width: 1200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 5px 15px rgba(0,1,1,0.2);
          box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  min-height: auto;
}

.features-header b,
.search button {
  font-size: 21px;
  font-weight: 700;
}

.main-header {
  background-color: white;
  padding-left: 6%;
  padding-right: 6%;
}

.search {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;/*center;*/
      -ms-flex-align: start;/*center;*/
          align-items: flex-start;/*center;*/
  width: 20%;
  min-height: 56px;
/*  margin-top: 15px;
  margin-bottom: 15px;*/
/*  outline: 2px solid blue;*/
}

.nav-item:nth-child(2) {
  margin-left: 30px;
}

.nav-item:nth-child(3) {
  margin-left: auto;
  margin-right: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-item:nth-child(4) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-item a {
  font-family: inherit;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.nav-item a:focus,
.nav-item a:hover  {
  color: #81b3d2;
}

.nav-item a:active {
  color: rgba(0,0,0,0.3);
}

.nav-item a.active {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: calc(50%  - 69px);
  right: calc(50% - 69px);
}

.features{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
}

.features-list {
  background-color: #eeeeee;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33%;
  min-height: 256px;
}

.features-list .features-item {
  width: 33.3333%;
}

.features-headline {
  width: 40%;
  margin-top: 47px;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item .paragraph {
  margin-left: 4px;
}

.features-item p {
  display: block;
  margin: 0;
  margin-bottom: 22px;
  width: 76%;
}

.city-img,
.bridge-img {
  width: 66.67%;
  height: 256px;
/*  height: 50vh;**/
  -o-object-fit: cover;
     object-fit: cover;
  object-position: 0 -76px;
}

.features div.features-item {
  color: white;
  background-color: #81b3d2;
}

.benefits-list,
.features-list,
.nav-list,
.result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
/*  outline: 2px solid yellow;*/
}

.benefits-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 33.3333%;
  min-height: 284px;
  /*  max-height: 330px;*/
  padding-top: 46px;
  vertical-align: top;
  position: relative;
  letter-spacing: 0.07px;
  /*outline: 2px solid yellow;*/
}

.benefits-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*    outline: 2px solid blue;*/
}

.benefits-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 158px;
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*  outline: 2px solid blue;*/
}

.benefits-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 169px;
  width: 75px;
  height: 77px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*    outline: 2px solid blue;*/
}

.benefits-item .benefits-header {
  margin-top: 115px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
  /*  outline: 2px solid blue;*/
}

.benefits-item p {
  width: 75%;
  /* outline: 2px solid green;*/
}

.search-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.search-header {
  margin-top: 50px;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 36px;
}

.search-title p {
  display: block;
  width: 40%;
  margin: 0;
  margin-bottom: 47px;
  line-height: 24px;
}

.search button,
.search form {
  line-height: 26px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background-image: url("../img/Angle.png"), url("../img/Sedona.jpg");
  background-repeat: no-repeat;
  background-size: contain, 100% auto;
  background-position: bottom, 0 -82px/*50% 25%*/;
  background-color: #eeeeee;
}

.features-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 216px;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}

.features-header b {
  max-width: 490px;
  margin-top: 60px;
}

.features-header p {
  margin-top: 27px;
  margin-bottom: auto;
}

.search-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 218px;
  box-sizing: border-box;
  padding-left: 6%;
  padding-right: 6%;
  color: white;
  line-height: 21px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -55px;
  background-color: #eeeeee;
/*  min-width: 64%;*/
}

.search-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: /*flex-start;*/space-between;
      -ms-flex-pack: /*flex-start;*/space-between;
          justify-content: /*flex-start;*/space-between;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  margin-top: 28px;
  margin-bottom: 33px;
  box-sizing: border-box;
  /*  outline: 2px solid yellow;*/
}

.search-column:nth-child(1) {
  margin-right: 120px;
}

.search-column:nth-child(3) {
  margin-left: auto;
}

.search-column p {
  margin: 0;
}

.search-column .checkbox {
  padding-left: 40px;
  cursor: pointer;
/*  outline: 2px solid green;*/
}

.checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 24px;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 27px 24px;
}

.checkbox input[type="checkbox"]:not(:checked) + .checkbox-indicator {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 24px 24px;
}

.checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.3;
}

.map {
  width: 100%;
  min-height: 472px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  /*display: none;*/
  position: absolute;
  left: /*388px;*/calc(50% - 285px); /*50% - width/2*/
  width: 570px;
  padding-top: 55px;

  font-family: inherit;
  font-weight: 700;
  text-align: left;
  background-color: white;
  -webkit-box-shadow: 0 7px 15px rgba(0,1,1,0.15);
          box-shadow: 0 7px 15px rgba(0,1,1,0.15);
  /*outline: 2px solid yellow;*/
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460px;
  margin-bottom: 30px;
  /*outline: 2px solid green;*/
}

.count-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin-left: -2px;
  text-align: center;
/*  outline: 2px solid yellow;*/
}

.count-wrapper:nth-child(2) label {
  margin-left: 52px;
}

.adult-count.minus {
  margin-left: auto;
  font-weight: 700;
}

.search-item input {
  display: inline-block;
  width: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: black;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: center;
  background-color: #f2f2f2;
}

.child-count.minus {
  margin-left: auto;
  font-weight: 700;
}

.search-item input[type="text"] {
  margin-left: auto;
  text-align: left;
  text-indent: 12px;
}

.count-wrapper input[type="text"] {
  margin-left: 0;
  text-align: left;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.search-item button {
  background-color: #f2f2f2;
  color: #a9a9a9;
  border: none;
  height: 38px;
  width: 38px;
  text-align: center;
}

.search-item svg {
  padding: 8px;
  background-color:  #f2f2f2;
}

.search-item svg path {
  fill: #a9a9a9;
}

.search-item svg:hover path,
.search-item svg:focus path {
  fill: black;
}

.search-item svg:active path {
  fill: #81b3d2;
}

.search-item:nth-child(1) input,
.search-item:nth-child(2) input {
  width: 310px;
}

.search-item:nth-child(1) label,
.search-item:nth-child(2) label {
  text-align: justify;
  display: flex;
  align-items: stretch;
}

.search-item button:hover,
.search-item button:focus {
  color: black;
}

.search-item button:active {
  color: #81b3d2;
}

.search .form-header {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-family: inherit;/*"PT Sans";*/
  background-color: #766357;
  border: none;
  /*  outline: 2px solid green;*/
}

.form-header:hover,
.form-header:focus {
  background-color: #604e43;
}

.form-header:active {
  color: rgba(256,256,256,0.3);
  background-color: #503e33;
}

.search-form label {
  margin-left: 3px;
}

.search-btn {
  padding-left: 195px;
  padding-right: 195px;
  min-height: 58px;
  margin-top: 23px;
  margin-bottom: 55px;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  background-color: #81b3d2;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(256,256,256,0.3);
  background-color: #5496bd;
}

.welcome {
  padding-top: 76px;
  padding-bottom: 12px;
}

.sedona {
  padding-top: 52px;
  padding-bottom: 55px;
}

.slogan {
  padding-bottom: 80px;
}

.search-parameters p {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.cost-parameters p {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 9px;
}

.cost-parameters table {
  border: 2px solid white;
  border-radius: 2px;
}

.cost-parameters td {
  width: 150px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cost-parameters td:first-child {
  border-right: 2px solid white;
}

.range-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 46px;
  padding-left: 10px;
  background-color: transparent;
}

.range-controls .scale {
  height: 2px;
  background: #948482;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: white;
}

.range-controls .toggle {
  position: absolute;
  top: 12px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle:focus,
.range-controls .toggle:hover {
  border: 10px solid #fff;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 250px;
}

.sort-parameters {
  font-size: 12px;
  line-height: 18px;
}

.sort-type a {
  color: rgba(0,0,0,0.3);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: rgba(0,0,0,0.3);
          text-decoration-color: rgba(0,0,0,0.3);/*#81b3d2;*/
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.sort-type a:active {
  color: black;
  text-decoration: none;
}

.sort-type a.active {
  text-decoration: none;
  color: #81b3d2;
}

.desc.active path,
.desc.active path{
  fill: #81b3d2;
}

.result-header:hover,
.result-header:focus {
  color: #81b3d2;
}

.result-header:active {
  color:#cacaca;
}

.more-btn {
  margin-right: 5px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: 700;
  background-color: #81b3d2;
}

.more-btn:hover,
.more-btn:focus {
  background-color: #669ec0;
}

.more-btn:active {
  color: rgba(256,256,256,0.3);
  background-color: #5496bd;
}

.reserve-btn {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  font-weight: 700;
  background-color: #766357;
}

.reserve-btn:hover,
.reserve-btn:focus {
  background-color: #604e43;
}

.reserve-btn:active {
  color: rgba(256,256,256,0.3);
  background-color: #503e33;
}

.show-btn {
  display: block;
  margin-top: 9px;
  margin-left: 85px;
  box-sizing: border-box;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
}

.show-btn:hover,
.show-btn:focus {
  color: black;
  background-color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 120px;
  background-color: white;
}

.footer-header {
  margin: 0;
  width: 33.3333%;
  font-size: 21px;
  font-weight: 700;
/*  outline: 2px solid green;*/
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 33.3333%;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
/*  outline: 2px solid blue;*/
}

.social-btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  margin: 3px;
  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active svg {
  fill-opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3334%;
  margin-left: auto;
  line-height: 26px;
  /*outline: 2px solid yellow;*/
}

.footer-copyright p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  /*outline: 2px solid green;*/
}

.footer-copyright a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*outline: 2px solid blue;*/
}

.logo-htmlacademy:hover path,
.logo-htmlacademy:focus path{
  fill: #81b3d2;
}

.logo-htmlacademy:focus path{
  fill: #bdbbbc;
}

.search-result {
  background-color: white;
  width: 100%;
  /*outline: 2px solid green;*/
}

.search-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85px;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
  /*outline: 2px solid purple;*/
}

.result-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 195px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 5px;
  /*outline: 2px solid green;*/
}

.sort-parameters p {
  margin-right: 40px;
  text-align: left;
}

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 250px;
  padding: 0;
  list-style: none;
  /*outline: 2px solid red;*/
}

.sort-type li:nth-child(2),
.sort-type li:nth-child(3) {
  margin-left: 33px;
}

.sort-parameters .asc {
  margin-left: auto;
  margin-right: 12px;
/*  outline: 2px solid orange;*/
}

.asc path,
.desc path {
  fill: #cacaca;
}

.asc:hover path,
.asc:focus path,
.desc:hover path,
.desc:focus path {
  fill: black;
}

.asc:active path,
.desc:active path {
  fill: #81b3d2;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 150px;
  padding-left: 6%; /*73px;*/
  padding-right: 6%; /*73px;*/
  border-bottom: 1px solid #e5e5e5;
/*  outline: 2px solid yellow;*/
}

.result-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
  min-height: 93px;
  margin-left: 30px;
  margin-bottom: 5px;
/*  outline: 2px solid green;*/
}

.result-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.result-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: 10px;
}

.result-title > p {
  width: 111px;
  margin-right: 5px;
}

.more-btn,
.reserve-btn {
  margin-top: auto;
}

.grade-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  min-height: 90px;
/*  outline: 2px solid orange;*/
}

.grade {
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 2px;
  width: 108px;
  color: #666666;
  background-color: #f2f2f2;
  /*outline: 2px solid red;*/
}

.grade-container::before {
  content: "";
  position: relative;
  height: 17px;
  background-image: url("../img/star.svg");
  background-position: right top;
  background-repeat: repeat-x;
  background-size: 24px 17px;
  background-color: white;
}

.result-item:nth-child(1) .grade-container::before {
  margin-left: 15px;
  margin-right: -4px;
}

.result-item:nth-child(2) .grade-container::before {
  margin-left: 40px;
  margin-right: -4px;
}

.result-item:nth-child(3) .grade-container::before {
  margin-left: 65px;
  margin-right: -4px;
}
